@keyframes scrollGradient {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media print {
    display: none;
  }

  &__inner {
    display: flex;
    line-height: 5;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 0;

    &:after {
      content: '⟁';
      color: $accent;
      font-size: 8rem;
      position: absolute;
      top: 500%;
      left: -20%;
      transform: translate(-50%, -50%);
      display: block;

      @media (max-width: 1300px) {
        display: none;
      }
    }

    &:before {
      content: '';
      background: repeating-linear-gradient(-45deg, $accent, $accent 2px, transparent 0, transparent 20px);
      background-size: 200% 200%;
      animation: scrollGradient 30s linear infinite;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    a {
      flex: 0 0 auto;
      max-width: 100%;
      text-decoration: none;
      z-index: 1;
    }
  }
}