#workings {
	display: none;
	/* Start with the element hidden */
	animation: fadeIn 1s ease-in-out;
	/* Define the fade-in animation */
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		/* Start with 0 opacity (completely transparent) */
	}

	100% {
		opacity: 1;
		/* End with 1 opacity (fully visible) */
	}
}