.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 2.5;
  text-decoration: none;
  background: $accent;
  color: $background;
  padding: 5px 10px;
  text-shadow: 
    0px 1px 2px rgba(25, 23, 36, 0.0),
    0px -1px 2px rgba(31, 29, 46, 0.0),
    0px 10px 2px rgba(25, 23, 36, 0.0),
    0px -10px 2px rgba(31, 29, 46, 0.0);
  animation: pulse 30s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    text-shadow: 
      0px 1px 2px rgba(25, 23, 36, 0.0),
      0px -1px 2px rgba(31, 29, 46, 0.0),
      0px 10px 2px rgba(25, 23, 36, 0.0),
      0px -10px 2px rgba(31, 29, 46, 0.0);
  }
  15% {
    text-shadow: 
      0px 1px 4px rgba(25, 23, 36, 0.2),
      0px -1px 4px rgba(31, 29, 46, 0.2),
      -10px 10px 4px rgba(25, 23, 36, 0.6),
      10px -10px 4px rgba(31, 29, 46, 0.6);
  }
  30% {
    text-shadow: 
      0px 1px 2px rgba(25, 23, 36, 0.4),
      0px -1px 2px rgba(31, 29, 46, 0.4),
      -5px 5px 2px rgba(25, 23, 36, 0.8),
      5px -5px 2px rgba(31, 29, 46, 0.8);
  }
  50% {
    text-shadow: 
      0px 1px 6px rgba(25, 23, 36, 0.4),
      0px -1px 6px rgba(31, 29, 46, 0.4),
      -15px 15px 6px rgba(25, 23, 36, 0.8),
      15px -15px 6px rgba(31, 29, 46, 0.8);
  }
  70% {
    text-shadow: 
      0px 1px 2px rgba(25, 23, 36, 0.2),
      0px -1px 2px rgba(31, 29, 46, 0.2),
      -10px 10px 2px rgba(25, 23, 36, 0.6),
      10px -10px 2px rgba(31, 29, 46, 0.6);
  }
  85% {
    text-shadow: 
      0px 1px 4px rgba(25, 23, 36, 0.2),
      0px -1px 4px rgba(31, 29, 46, 0.2),
      -10px 10px 4px rgba(25, 23, 36, 0.6),
      10px -10px 4px rgba(31, 29, 46, 0.6);
  }
  100% {
    text-shadow: 
      0px 1px 2px rgba(25, 23, 36, 0.0),
      0px -1px 2px rgba(31, 29, 46, 0.0),
      0px 10px 2px rgba(25, 23, 36, 0.0),
      0px -10px 2px rgba(31, 29, 46, 0.0);
  }
}