[submodule "themes/cringe-theme"]
	path = themes/cringe-theme
	url = https://github.com/ka-de/cringe-theme
[submodule "static/flabbyborb"]
	path = static/flabbyborb
	url = https://github.com/ka-de/flabbyborb
[submodule "static/setarea"]
	path = static/setarea
	url = https://github.com/ka-de/setarea
