/* setarea.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Common styles for smaller screens */
.selection {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px dashed #000;
    z-index: 1;
}

#exportWorkflowBtn {
    background-color: #9f7aea;
}

#exportWorkflowBtn:hover {
    background-color: #805ad5;
}

#exportWorkflowBtn:disabled {
    background-color: #d8b4fe;
    cursor: not-allowed;
}

.area-info {
    position: absolute;
    top: -2.5rem;
    right: 0rem;
    color: white;
    font-size: 14px;
    font-family: monospace;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

.canvas {
    position: relative;
    border: 2px solid #000;
}

input {
    width: 60px;
}

.area {
    position: absolute;
    border: 1px solid #000;
    background-color: rgba(200, 200, 200, 0.5); /* Semi-transparent gray background */
}

/* Responsive styles for larger screens */
@media only screen and (min-width: 768px) {
    .floating-bar {
        text-align: center;
        position: absolute;
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
        cursor: move;
        width: 50%; /* Example width adjustment for larger screens */
        left: 25%; /* Example horizontal centering adjustment */
    }
}

/* Additional media queries and responsive adjustments as needed */
